<div class="events-index-wrapper">
  <div class="events-index">
    <% if @events.empty? %>
      <h1>Vous n'avez pas encore d'événements !</h1>
    <% else %>
      <h1>Mes événements:</h1>
    <% end %>

    <% @events.each do |event| %>
      <%= render 'shared/event-card', event: event %>
    <% end %>
  </div>
</div>

