<div class="events-index-wrapper">
  <div class="events-index">
    <h1>Mes événement:</h1>

    <% @events.each do |event| %>
      <%= render 'shared/event-card', event: event %>
    <% end %>
  </div>
</div>

