<div class="form-wrapper">
  <div class="form">
    <h2>Créer un événement</h2>

    <%= form_for(@event) do |f| %>

      <div class="field">
        <%= f.text_field :title, placeholder: "Titre de l'événement", class: "form-field" %>
      </div>

      <div class="field">
        <%= f.number_field :price, placeholder: "Prix de l'événement", class: "form-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Creer un evennement", id: 'button-valid' %>
      </div>
    <% end %>
  </div>
</div>


