
<div class="home-page-wrapper">
  <h1>Ne perdez pas de temps, et utilisez le nouveau “Secret Santa” générateur !</h1>

  <%= link_to 'Créer un évènement', new_event_path, id: 'button-create'  %>
</div>

