<p>Bonjour <%= @giver.user_name.capitalize %>,</p>

<p>J'éspère que vous êtes prêt pour <%= @event.title %>.</p>

<p>D'après le générateur, vous devrez offir un cadeau d'un montant de <%= @event.price %> euros à <%= @receiver.user_name.capitalize %> !</p>

<p>On vous souhaite un bon événement !</p>
