<p>Bonjour <%= @user.user_name.capitalize! %> </p>

<p>Pas de chance pour cette fois! D'aprés le générateur, vous deverez vous offrir un cadeau à vous même !</p>

<p>On vous souhaite un bon événement !</p>
