<p>Bonjour</p>

<p>J'éspère que vous êtes près pour <%= @event.title %>.</p>

<p>D'aprés le générateur, vous deverez offir un cadeau d'un montant de <%= @event.price %> euros à <%= @receiver.user_name %> !</p>

<p>On vous souhaite un bon événement !</p>
