<h1>J'éspère que vous êtes près pour <%= @event.title %></h1>

<p>D'aprés le générateur, vous deverez offir un cadeau d'un montant de <%= @event.price %> à <%= @receiver.user_name %> !</p>

<p>On vous souhaite un bon événement !</p>
