.alert {
  max-width: 500px;
  margin: 1rem auto;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  padding: 1rem 3rem;
}


.alert-notice {
  color: white;
  background-color: #5AC364;
}
.alert-alert {
  color: white;
  background-color: #E76161;
}
