#button-create {
  background-color: white;
  color: #5AC364;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 6px;
  border: 3px solid #5AC364;
  text-decoration: none;
  font-size: 22px;
}

#button-valid {
  background-color: #5AC364;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 6px;
  border: none;
}

#button-classic {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 12px;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  text-align: center;
}

#button-delete {
  background-color: white;
  color: #E76161;
  border: 2px solid #E76161;
  font-weight: bold;
  padding: 0.2rem 1rem;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
}

#button-add {
  background-color: white;
  color: #5AC364;
  border: 2px solid #5AC364;
  font-weight: bold;
  padding: 0.2rem 1rem;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
}
